{{ if and (eq .chezmoi.os "linux") (eq (dig "id" "" .chezmoi.osRelease) "alpine") -}}
#!/bin/bash
set -euo pipefail

{{ include "../install/lib.sh" }}
activate_tool_paths
(
{{   include "../install/alpine/apk.sh" }}
)
curl -fsSL https://mise.run | sh
{{ end -}}
