{{ if ne .chezmoi.os "windows" -}}
#!/bin/bash
set -e

{{ if eq .chezmoi.os "linux" -}}
export PATH="$HOME/.local/bin:$PATH"
{{ end -}}
{{ if eq .chezmoi.os "darwin" -}}
eval "$(/opt/homebrew/bin/brew shellenv)"
{{ end -}}

export CHEZMOI_SOURCE_DIR={{ .chezmoi.sourceDir | replace "'" "'\\''" | squote }}

# 各 install スクリプトは色変数や main などの名前が重複するため subshell で隔離する。
# ファイル間で必要な環境変数 (mise の PATH) は親で明示的に引き継ぐ。
(
{{   include "../install/common/setup_shell.sh" }}
)
(
{{   include "../install/common/fisher.sh" }}
)
(
{{   include "../install/common/mise.sh" }}
)
eval "$(mise activate bash --shims)"
(
{{   include "../install/common/completions.sh" }}
)

{{ if not (dig "skip_cli_tools" false .) -}}
(
{{   include "../install/common/git_secrets.sh" }}
)
{{ end -}}

{{ end -}}
