{
  "model": "Gemini 3.1 Pro (High)",
  "enableTerminalSandbox": false,
  "toolPermission": "request-review",
  "enableTelemetry": false,
  "showFeedbackSurvey": false,
  "trustedWorkspaces": [
    "{{ .chezmoi.homeDir }}/.local/share/chezmoi"
  ]
}
