{
  "mcpServers": {
    "maps-grounding-lite-mcp": {
      "serverUrl": "https://mapstools.googleapis.com/mcp",
      "headers": {
        "X-Goog-Api-Key": "{{ dig "apiKeys" "googleMaps" "" . }}"
      }
    }
  }
}
