---
name: code-reviewer
description: {{ .agents.code_reviewer | quote }}
model: fable
effort: xhigh
tools: Read, Grep, Glob, Bash
skills:
  - review
---

{{ includeTemplate "agents/code-reviewer.md" . -}}
